:root {
  --grid-cols: 1;
  --gird-rows: 1;
}

#gridContainer {
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 10px);
  grid-template-columns: repeat(var(--grid-cols), 10px);
}

.gridItem {
  height: 10px;
  width: 10px;
}
